*{
    margin:0px; 
    padding: 0px; 
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

body {
    overflow: hidden;
}

#container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.panel {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 10vh 1vw 1vh 1vw; */
    background-image: url('../img/commonFrameBG.svg');
    background-position: left 1vw top 12vh;
    background-repeat: no-repeat;
    background-size: 30vw auto;
    border: 1px solid blue;
}

#header {
    height: 10vh;
    background: transparent;
}

/* Aiguille */
#needleNav {
    max-height: 8vh;
    min-height: 50px;
    transform: rotate(-90deg);
}

.positionCustom {
    top: 30px;
    right: 60px;
}

#kikooDiv {
    width: 10vw;
    top: 40px;
    z-index: 22;
}

@keyframes needleToVertical {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(-45deg);
    }
}

.needleToVertical {
    animation: needleToVertical 0.5s ease-in-out forwards;
}

@keyframes needleToHorizontal {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

.needleToHorizontal {
    animation: needleToHorizontal 0.5s ease-in-out forwards;
}

#needleCross {
    max-height: 8vh;
    min-height: 50px;
    transform: rotate(45deg);
    opacity: 0;
}

@keyframes opacityPlus {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.opacityPlus {
    animation: opacityPlus 0.5s ease-in-out forwards;
}

@keyframes opacityLess {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

.opacityLess {
    animation: opacityLess 0.5s ease-in-out forwards;
}

/* Fil (path) */
#svgCalque {
    max-height: 25vh;
    min-width: 120px;
    opacity: 0;
}

#path {
    fill:none;
    stroke:#000;
    stroke-width: 3;
}

#offCanvaMenu {
    padding-top: 10vh;
    z-index: -1;
}

#menuOffCanvaBody {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo {
    z-index: 2;
    max-height: 0%;
    transition: all 0.6s ease-in-out;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.growing {
    animation: growing 0.6s ease-in-out forwards;
}

@keyframes growing {
    from {
        max-height: 0%;
    }
    to {
        max-height: 30%;
    }
}

.logo.mini-top-left {
    z-index: 2000 !important;
    max-height: 8vh !important;
    left: 5%;
    top: 5vh;
}

.logoText {
    max-height: 30%;
    max-width: 70%;
}

.nobsJustifyText {
    text-align: justify;
}

/* SECTIONS */
#section1 {
    background-image: unset !important;
    background-size: unset;
}

.commonFrame {
    /* flex-grow: 1; */
    height: 90%;
    width: 90%;
    padding: 3vh 0 0 0;
    border: 1px solid black;
}

.sectionTitle {
font-size: 2rem;
font-weight: 800;
text-transform: uppercase;
color: #418F6A;
display: inline-block;
/* Par rapport à .sectionTitleLogo */
position: absolute;
transform: translate(20%, 80%) rotate(-2deg);
}

.noshow {
    display: none;
}

.greenishBorder {
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: white;
    border-image: radial-gradient(circle, #00684f 0%, #00553c 100%) 1;
    padding: 5px;
}
.goldishBorder {
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: white;
    border-image: linear-gradient(
    315deg,
    #eabe66 0%,
    #efcf76 15%,
    #f0d47a 19%,
    #fbf1e1 41%,
    #bd8d00 73%,
    #e4b45c 91%,
    #ebbc6d 95%) 1;
    padding: 5px;
}

.h-10cqh {
    height: 8cqh;
}

.texte-prestation {
    text-align: center;
    font-size: clamp(0.5rem, 2.8cqw, 2rem);
}

.carrouselPrestationCSS {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 4vh;
    gap: 0.7vh;
}
.w-unset {
    width: unset !important;
}

.sectionTitleLogo {
    width: 90%;
    /* flex-grow: 1; */
    padding-top: 5%;
    height: 20%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center bottom 0px;
    background-image: url('../img/titleAiguille.svg');
    position: relative;
}

#carouselPrestations {
    width: 90%;
    /* flex-grow: 2; */
    height: 50%;
}

.separator {
    min-width: 90%;
    /* flex-grow: 1; */
    /* min-height: 2vh; */
    height: 10%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-image: url('../img/separateur.svg');
    z-index: 456;
}

#lastPrestaFrame {
    /* flex-grow: 1; */
    padding: 10px;
    height: 10%;
    margin-top: 1vh;
    /* margin-bottom: 4vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lastPrestaFrame > p {
    text-align: justify;
    text-transform: uppercase;
    font-size: clamp(0.3rem, 1.5cqw, 1rem);
    margin-bottom: unset !important;
}