*{
    margin:0px; 
    padding: 0px; 
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

body {
    overflow: hidden;
}

#container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.panel {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10vh 1vw 1vh 1vw;
    background-image: url('../img/commonFrameBG.svg');
    background-position: left 1vw top 12vh;
    background-repeat: no-repeat;
    background-size: 30vw auto;
}

#header {
    height: 10vh;
    background: transparent;
}

/* Aiguille */
#needleNav {
    max-height: 8vh;
    min-height: 50px;
    transform: rotate(-90deg);
}

.positionCustom {
    top: 30px;
    right: 60px;
}

#kikooDiv {
    width: 10vw;
    top: 40px;
    z-index: 22;
}

@keyframes needleToVertical {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(-45deg);
    }
}

.needleToVertical {
    animation: needleToVertical 0.5s ease-in-out forwards;
}

@keyframes needleToHorizontal {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

.needleToHorizontal {
    animation: needleToHorizontal 0.5s ease-in-out forwards;
}

#needleCross {
    max-height: 8vh;
    min-height: 50px;
    transform: rotate(45deg);
    opacity: 0;
}

@keyframes opacityPlus {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.opacityPlus {
    animation: opacityPlus 0.5s ease-in-out forwards;
}

@keyframes opacityLess {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

.opacityLess {
    animation: opacityLess 0.5s ease-in-out forwards;
}

/* Fil (path) */
#svgCalque {
    max-height: 25vh;
    min-width: 120px;
    opacity: 0;
}

#path {
    fill:none;
    stroke:#000;
    stroke-width: 3;
}

#offCanvaMenu {
    padding-top: 10vh;
    z-index: -1;
}

#menuOffCanvaBody {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* .bordered {
    position: relative;
    padding: 1rem;
    background: white;
    z-index: 0;
}

.bordered::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, #b1973b 0%, #ccaa40 40%, #cdaf31 60%, #b1973b 100%);
    z-index: 1;
}

.bordered::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, #b1973b 0%, #ccaa40 40%, #cdaf31 60%, #b1973b 100%);
    z-index: 1;
} */

.logo {
    z-index: 2;
    max-height: 0%;
    transition: all 0.6s ease-in-out;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.growing {
    animation: growing 0.6s ease-in-out forwards;
}

@keyframes growing {
    from {
        max-height: 0%;
    }
    to {
        max-height: 30%;
    }
}

.logo.mini-top-left {
    z-index: 2000 !important;
    max-height: 8vh !important;
    left: 5%;
    top: 5vh;
}

.logoText {
    max-height: 30%;
    max-width: 70%;
}

.nobsJustifyText {
    text-align: justify;
}

/* SECTIONS */
.commonFrame {
    height: 70%;
    width: 90%;
}
.sectionTitleLogo {
    width: 90%;
    height: 10%;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center top 1vh;
    background-image: url('../img/titleAiguille.svg');
    margin-left: 13vw;
    padding-top: 2vh;
}

.sectionTitle {
font-size: 2rem;
font-weight: 800;
text-transform: uppercase;
color: #418F6A;
transform: rotate(-2deg);
display: inline-block;
padding-left: 3vw;
padding-top: 1vh;
}

.noshow {
    display: none;
}

.grid-wrapper {
    width: 100%;
    flex-grow: 1;
    padding: 2vh;
}

.grid-9x2 {
    display: grid;
    grid-template-columns: 7% 87%;
    grid-template-rows: repeat(10, 1fr); 
    height: 100%;
    gap: 0.5vh;
}

.col-10-g {
    background-image: url('../img/puceVerte.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.col-90-g {
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: white;
    border-image: radial-gradient(circle, #00684f 0%, #00553c 100%) 1;

}

.col-10-y {
    background-image: url('../img/puceJaune.svg');  
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
}

.col-90-y {
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: white;
    border-image: linear-gradient(
    315deg,
    #eabe66 0%,
    #efcf76 15%,
    #f0d47a 19%,
    #fbf1e1 41%,
    #bd8d00 73%,
    #e4b45c 91%,
    #ebbc6d 95%) 1;
}

.col-90-y, .col-90-g {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.texte-prestation {
    text-align: center;
    font-size: 0.9rem;
}

.separator {
    width: 90%;
    height: 2%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-image: url('../img/separateur.svg');
}